.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.card-list img {
  width: 200px;
  margin: 0 auto;
}
@media only screen and (max-width: 660px) {
  .card-list {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-content: center;
  }
  .card-list img {
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }
}
