.main-search {
  text-align: center;
}
.search {
  width: 95%;
  margin: 15px auto;
  padding: 10px;
  font-size: 2em;
  line-height: 30px;
  text-align: center;
  -webkit-appearance: none;
  border: none;
  outline: none;
}
