.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 50%;
  font-size: 2em;
  line-height: 30px;
  margin: 15px auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
