.navbar {
  position: fixed;
  z-index: 10;
  background-color: rgb(233, 233, 233);
  box-shadow: 0px 0px 4px 2px rgba(87, 87, 87, 0.829);

  width: 100%;
  height: 70px;
}
.navbar button {
  border: none;
}

.nav-logo {
  display: flex;
}
.nav-logo img {
  width: 90px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle:focus {
  outline: none;
}
#menuToggle a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: #3e62ff;
}

#menuToggle input {
  display: block;
  width: 54px;
  height: 54px;
  position: fixed;
  top: 0px;
  left: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle input:focus {
  outline: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  top: 0px;
  left: 0px;
  background: rgb(75, 75, 75);
  border-radius: 1.5px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #aaaaaa;
}

/*
 * To hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  min-height: 100vh;
  background: #ffffff;
  box-shadow: #555 2px 1px 14px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0 0;
  transform: translate(-120%, 0%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px;
  font-size: 22px;
  text-align: left;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

.logo {
  height: 170px;
  border-bottom: 1px solid rgb(218, 218, 218);
}
.logo img {
  width: 100%;
}
